{% extends "base.html" %}
{% block body %}
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="about">About</a></li>
        <li role="presentation"><a href="contact">Contact</a></li>
        <li role="presentation"><a href="resume">Resume/Sample Works</a></li>
    </ul>
    <br>
    <div class="row">
        <div class="col-xs-6">
            <img src="{{ url_for('static', filename='alex256.jpg') }}" height="266">
        </div>
        <div class="col-xs-6">
            <a href="https://www.instagram.com/rush95/" class="thumbnail">
                <img src="{{ url_for('static', filename='insta.png') }}" width="256">
            </a>
        </div>
    </div>
    <br>
    <hr>
    <p>
    My name is Alex Rushing and I will be a Computer Science alum from 
    Georgia Tech at the end of 2017. My interestes include snowboarding,
    hiking, eating good food, and especially travelling to new places. As a 
    result of being an avid traveller and growing around the world, I've been
    to more than 25 different countries. That's a number that I hope to continue
    to increase, also I enjoy taking some photos of my travels and experiences
    which you can checkout on my Instagram account linked above. Oh, and I do
    some full-stack development as my side gig. My preferred stack is Python,
    Flask web-framework, and a MongoDB backend, which is what this site uses.
    </p>
{% endblock %}
