<CTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Alex Rushing - Website</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
<meta name="author" content="ADD AUTHOR INFORMATION">
<meta name="robots" content="index, follow">

<!-- icons -->
<link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="shortcut icon" href="favicon.ico">

<!-- Override CSS file - add your own CSS rules -->
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="header-heading">Welcome to my page!</h1>
    </div>
    <div class="nav-bar">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="projects">Projects</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="main">

            <h1>Alex Rushing</h1>
            <hr>

            <!-- Responsive images -->
            <h3>Mt. Zugspitze</h3>
            <p>Just me taking a selfie on the tallest mountain in Germany, the peak of the Zugspitze is 2962m above sea level.</p>
            <p><img class="img-responsive" src="{{ url_for('static', filename='alex.jpg') }}" alt=""></p>
            
            <!-- Paragraphs -->
            <h3>First Post</h3>
            <p>I've decided to make my own personal web page and here it is.</p>
            <p>This website was made using Python 2.7 and Flask, a web framework for Python, and I used some simple css and html layouts from maxdesign because I'm lazy.</p>
            <hr>

            <!-- Blockquotes -->
            <h3>Blockquotes</h3>
            <p>The blockquote element is used to markup long quotations. Ideally, content inside should be wrapped in paragraph elements.</p>
            <blockquote>
                <p>The real names of our people were destroyed during slavery. The last name of my forefathers was taken from them when they were brought to America and made slaves, and then the name of the slave master was given, which we refuse, we reject that name today and refuse it. I never acknowledge it whatsoever.</p>
                <footer><a href="http://en.wikipedia.org/wiki/Malcolm_X">Malcolm X</a></footer>
            </blockquote>
            <hr>

            <h3>Buttons</h3>
            <p>Checkout these random pages.</p>
            <p><a href="/fariha" class="btn">Submit</a></p>

            <p><a href="/victor" class="btn">Victor</a></p>
            <hr>

            <!-- Tables -->
            <h3>Goals</h3>
            <p>Just some tempory summer goals</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Goals</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Make a personal webpage</td>
                    <td>&#9989</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Complete learn C the hard way</td>
                    <td>  </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Pack and prepare for going to Singapore</td>
                    <td>  </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="footer">
        Published 2015
    </div>
</div>
</body>
</html>

