{% extends "base.html" %}
{% block body %}
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="about">About</a></li>
        <li role="presentation"><a href="contact">Contact</a></li>
        <li role="presentation" class="active"><a href="resume">Resume/Sample Works</a></li>
    </ul>
    <br>
    <h2> Resume </h2>
    <object style="width:100%;height:900px" type="application/pdf" data="{{ url_for('static', filename='Resume.pdf') }}" id="pdf_content">
        <p>The PDF cannot be displayed.</p>
    </object>
    <h2> Sample Works </h2>
    <hr>
    <h3 style="color:gray"> GT Movie </h3>
    <p>
    A web app for purchasing Movie tickets and learning about movies currently
    in theaters. This was made for CS4400, Intro to Database Systems. The source
    code can be viewed on my Github, and here is a link to a (mostly) live version:
    <a style="color:cornflowerblue" href="http://gtmovie-rushing.rhcloud.com/">GT Movie App</a>
    </p>
    <h3 style="color:gray"> FreeLoadr</h3>
    <p>
    An iOS app for finding free food, allows users post free food on a Google Map,
    and share specific events that provide free food. This was mostly made by
    hungry college students at HackATL, I mostly setup the backend which you can
    find on my Github. Here's a link that was used during our presentation:
    <a style="color:cornflowerblue" href="http://freeloadr.github.io/freeloadr-site.github.io/">FreeLoadr Site</a>
    </p>
{% endblock %}
